<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Django Blog!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <header data-spy="scroll" data-target=".navbar" data-offset="10">	
	
	<!--Fixed Scrollspy Navbar-->
	<nav class="navbar navbar-inverse navbar-fixed-top" data-spy="affix" data-offset-top="197">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
		<ul class = "nav nav-navbar navbar-right">
			<li><a href="#">Login</a></li>
		</ul>
  </div>
		
</nav>
</header>
<body>
	<div class = "jumbotron">
		<h1>This is Our Website</h1>
		<h2>a lot happens here</h2>
		</div>
	<!--Main body-->
	<div class = "container-fluid">
	<h1 >First Heading <br> <small>Secondary Heading</small></h1>
	

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
	
		<hr>
	<h1 id="section">Second Heading <br> <small>Secondary Heading</small></h1>
	<p>Text goes here!</p>
	<hr>
	<h1 id="section">Third Heading <br> <small>Secondary Heading</small></h1>
	<p>Text goes here!</p>
	<hr>
	<h1 id="section">Fourth Heading <br> <small>Secondary Heading</small></h1>
	<p>Text goes here!</p>
	<hr>
	<h1 id="section">Fifth Heading <br> <small>Secondary Heading</small></h1>
	<p>Text goes here!</p>
	<hr>
	<h1 id="section">Sixth Heading <br> <small>Secondary Heading</small></h1>
	<p>Text goes here!</p>
	<hr>
	</div>
</body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
